<% provide(:title, "Log in") %>
<h1>Log In</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, id: "email_input" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, id: "password_label" %>
      <%= f.password_field :password, class: 'form-control' %>

      <!--<%= f.label :remember_me, class: "checkbox inline", id:"remember" do %>-->
      <!--  <%= f.check_box :remember_me %>-->
      <!--  <span>Remember me on this computer</span>-->
      <!--<% end %>-->

      <%= f.submit "Log in", class: "btn btn-primary", id: "log-in-button" %>
    <% end %>

    <p class="apply">Don't have an account yet? <%= link_to "Apply now!", apply_path %></p>
  </div>
</div>
<%= render 'layouts/footer' %>