
<div class="col-md-3">
      <%= render 'user_sidebar' %>
</div>
<div class="col-md-9">
     <!-- SIDEBAR USERPIC -->
     <!--<div class="profile-userpic col-sm-12" >-->
     <!--  %= gravatar_for @user %-->
     <!--</div>-->
     <!-- END SIDEBAR USERPIC -->
     <!-- SIDEBAR USER TITLE -->
     <!--<div class="profile-usertitle">-->
     <!--	<div class="profile-usertitle-name">-->
               <!--%= @user.name %		-->
     <!--	</div>-->
     <!--	<div class="profile-usertitle-job">-->
     <!--		Student number here-->
     <!--	</div>-->
     <!--</div>-->
     <!-- END SIDEBAR USER TITLE -->
     <div class="row">
          <header>Personal Information</header>
          <div class="col-sm-3"><h4>Name: </h4></div>
          <div class="col-sm-9"><h4><%= @user.family_name %>, <%= @user.name %> <%= @user.middle_name %></h4></div>
          <div class="col-sm-3"><h4>Student Number: </h4></div>
          <div class="col-sm-9"><h4><%= @user.student_number %></h4></div>
          
     </div>
</div>