<% if !current_user.admin? %>
<div class="col-md-3">
      <%= render 'user_sidebar' %>
</div>
<% end %>
<div class="col-md-9">
     <!-- SIDEBAR USERPIC -->
     <!--<div class="profile-userpic col-sm-12" >-->
     <!--  %= gravatar_for @user %-->
     <!--</div>-->
     <!-- END SIDEBAR USERPIC -->
     <!-- SIDEBAR USER TITLE -->
     <!--<div class="profile-usertitle">-->
     <!--	<div class="profile-usertitle-name">-->
               <!--%= @user.name %		-->
     <!--	</div>-->
     <!--	<div class="profile-usertitle-job">-->
     <!--		Student number here-->
     <!--	</div>-->
     <!--</div>-->
     <!-- END SIDEBAR USER TITLE -->
     <div class="row">
          <div>
               <h3>Personal Information</h3>
               <% if current_user.admin? && !current_user?(@user) %>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#info">details</button>
               <% end %>
          </div>
          <hr/>
          <div id="info" class= "<%= current_user.admin? === true ? 'collapse':''%>">
               <div class="col-sm-3"><h4>Name: </h4></div>
               <div class="col-sm-9"><h4><%= @user.family_name %>, <%= @user.name %> <%= @user.middle_name %></h4></div>
               <div class="col-sm-3"><h4>Student Number: </h4></div>
               <div class="col-sm-9"><h4><%= @user.student_number %></h4></div>
               <div class="col-sm-3"><h4>Course & Year: </h4></div>
               <div class="col-sm-9"><h4><%= @user.course_and_year %></h4></div>
               <div class="col-sm-3"><h4>Contact Number: </h4></div>
               <div class="col-sm-9"><h4><%= @user.contact_number %></h4></div>
               <div class="col-sm-3"><h4>Email Address: </h4></div>
               <div class="col-sm-9"><h4><%= @user.email %></h4></div>
          </div>
     </div>
     <div class="row">
          <div>
               <h3>Additional Information</h3>
               <% if current_user.admin? && !current_user?(@user) %>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#info2">details</button>
               <% end %>
          </div>
          <hr/>
          <div id="info2" class="<%= current_user.admin? === true ? 'collapse':''%>">
               <div class="col-sm-3"><h4>STS Bracket: </h4></div>
               <div class="col-sm-9"><h4><%= @user.sts_bracket %></h4></div>
               <div class="col-sm-3"><h4>Birthday: </h4></div>
               <div class="col-sm-4"><h4><%= @user.birthday %></h4></div>
               <div class="col-sm-2"><h4>Age: </h4></div>
               <div class="col-sm-3"><h4><%= @user.age %></h4></div>
               <div class="col-sm-3"><h4>Home Address: </h4></div>
               <div class="col-sm-9"><h4><%= @user.home_address %></h4></div>
          </div>
     </div>
     <div class="row">
          <div>
               <h3>Contact Persons</h3>
               <% if current_user.admin? && !current_user?(@user) %>
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#info3">details</button>
               <% end %>
          </div>
          <hr/>
          <div id="info3" class="<%= current_user.admin? === true ? 'collapse':''%>">
               
          </div>
     </div>
</div>