<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: @user %>
  <%= params[:param0] %>

  <h3>Primary Information</h3>
  <%= f.label :name %>
  <%= f.text_field :name, :value => params[:param1], class: 'form-control' %>
  
  <%= f.label :family_name %>
  <%= f.text_field :family_name, :value => params[:param2], class: 'form-control' %>
  
   <%= f.label :middle_name %>
  <%= f.text_field :middle_name, class: 'form-control' %>
  
  <%= f.label :student_number %>
  <%= f.text_field :student_number, :value => params[:param3], class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, :value => params[:param4], class: 'form-control'%>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  
  </br></br><hr/>
  <h3>Additional Information</h3></br>
  
  <%= f.label :course_and_year %>
  <%= f.text_field :course_and_year, class: 'form-control' %></br>
  
  <%= f.label 'STS Bracket' %></br>
  <%= f.select :sts_bracket, ['ND','PD40','PD60','PD80','FD', 'FDS'], class: 'form-control' %></br></br>
  
  <%= f.label :home_address %>
  <%= f.text_field :home_address, class: 'form-control' %>
  
  </br>
  <%= f.label :birthday %></br>
  <%= f.date_select :birthday, :start_year => 1900, class:'form-control' %>
  </br></br>
  
  <%= f.label :contact_number %>
  <%= f.text_field :contact_number, class: 'form-control' %>
  
  <%= f.hidden_field :applicant_id, :value => params[:param0] %>

  </br></br>
  <%= f.button :submit, name: 'subaction', value: 'update', class: "btn btn-primary" %>
<% end %>