<div class="profile-sidebar">
     
     <!-- SIDEBAR MENU -->
     <div class="profile-usermenu">
     	<ul class="nav">
     		<li class="<%= 'active' if current_page?(current_user) %>">
     			<%= link_to current_user do %>
            			<i class="glyphicon glyphicon-user"></i>
            			Account Overview
                    <% end %>
     		</li>
     		<li class="<%= 'active' if current_page?(url_for(current_user) + '/accountability')%>">
     			<%= link_to url_for(current_user) + '/accountability' do %>
            			<i class="glyphicon glyphicon-usd"></i>
            			Accountabilities
                    <% end %>
     		</li>
     	     <li class="<%= 'active' if current_page?(url_for(current_user) + '/violations')%>">
     			<%= link_to url_for(current_user) +'/violations' do %>
            			<i class="glyphicon glyphicon-ban-circle"></i>
            			Violations
                    <% end %>
     		</li>
     		<li class="<%= 'active' if current_page?(url_for(current_user) + '/approvedPermits')%>">
     			<%= link_to url_for(current_user) +'/approvedPermits' do %>
            			<i class="glyphicon glyphicon-thumbs-up"></i>
            			Approved Permits
                    <% end %>
     		</li>
     		<li>
     			<%= link_to '/permissions/new' do %>
            			<i class="glyphicon glyphicon-list-alt"></i>
            			Apply for Permit
                    <% end %>
     		</li>
     	</ul>
     </div>
     <!-- END MENU -->
</div>