<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-3">
	<%= render 'user_sidebar' %>
  </div>
  
  <div class="col-md-9">
    <h1 style="text-align: center">Submitted Permits</h1>
      <% if @permissions.empty? %>
        <pre style="font-size:18px; text-align:justify">
          You have not submitted any permits yet
        </pre>
      <% else %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
             
             <th>Permit type</th>
             <th>Permit Date</th>
             <th>Description</th>
             <th>Status</th>
             <th colspan="3"></th>
            </tr>
          </thead>
  
          <tbody>
           <% @permissions.each do |permission| %>
              <tr>
               
                <td><%= permission.permit_type %></td>
                <td><%= permission.permit_date %></td>
                <td><%= permission.description %></td>
                <td class="<%= permission.approved ?  'btn-sm btn-success': 'btn-sm btn-danger' %>"> <%= permission.approved ? 'approved' : 'not approved' %></td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% end %>

    <br>
  </div>
</div>