<%= form_for(@accountability) do |f| %>
  <% if @accountability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accountability.errors.count, "error") %> prohibited this accountability from being saved:</h2>

      <ul>
      <% @accountability.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :classification %><br>
    <%= f.select :classification , ['Payment', 'Violation']%>
  </div>
  
   <div class="field">
    <%= f.label :due_date %></br>
    <%= f.date_select :due_date, :start_year => Date.today.year, class:'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :remarks%><br>
    <%= f.text_area :remarks %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= f.number_field :payment %>
  </div>
  
  <%= f.hidden_field :user_id, :value => @accountability.user_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
