<p id="notice"><%= notice %></p>

<h1>Listing Accountabilities</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Classification</th>
      <th>Description</th>
      <th>Payment</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountabilities.each do |accountability| %>
      <tr>
        <td><%= accountability.classification %></td>
        <td><%= accountability.description %></td>
        <td><%= accountability.payment %></td>
        <td><%= accountability.user_id %></td>
        <td><%= link_to 'Show', accountability %></td>
        <td><%= link_to 'Edit', edit_accountability_path(accountability) %></td>
        <td><%= link_to 'Destroy', accountability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accountability', new_accountability_path %>
