<p id="notice"><%= notice %></p>

<h1>Listing Accountabilities</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Classification</th>
      <th>Description</th>
      <th>Payment</th>
      <th>Due date</th>
      <th>User</th>
      <th>Action</th>
      <th colspan="3">
    </tr>
  </thead>

  <tbody>
    <% @accountabilities.each do |accountability| %>
      <tr>
        <td><%= accountability.classification %></td>
        <td><%= accountability.description %></td>
        <td><%= accountability.payment %></td>
        <td><%= accountability.due_date %></td>
        <td><%= @user.find(accountability.user_id).name %></td>
        <td><%= link_to 'Delete', accountability, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '', new_accountability_path %>