<nav>
     <%= link_to "dashboard", '/admin' %>
     <%= link_to "users", users_url %>
     <%= link_to "permits",'/permissions' %>
     <%= link_to "accountabilities",  '#' %>
     <%= link_to "announcements", '/announcements' %>
</nav>