<p id="notice"><%= notice %></p>

<h1>Listing Permissions</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Student number</th>
      <th>Permit type</th>
      <th>Description</th>
      <th>Action</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.applicant %></td>
        <td><%= permission.student_number %></td>
        <td><%= permission.permit_type %></td>
        <td><%= permission.description %></td>
        <td class="<%= permission.approved ? 'btn-sm btn-danger' : 'btn-sm btn-success' %>"><%= link_to (permission.approved ? "disapprove" : "approve"), change_permission_path(permission) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
